
body {
    text-align: center;
}

#start-screen {
    margin-top: 10%;
    background-color: rgba(141, 204, 73, 0.81);
    min-height: 50%;
    height: auto;
    padding: 1% 5%;
    overflow: auto;
}

#chars {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.col-md-2 > img:hover {
    cursor: pointer;
    background-color: rgba(166, 166, 166, 0.51);
}

.active {
    background-color: rgba(166, 166, 166, 0.51);
}

.error-message {
    background-color: red;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}