html, body {
    height: 100%;
}

body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

#title {
    font-family: 'Kaushan Script', cursive;
    margin: 15px auto;
    font-size: 66px;
    color: rgba(38, 152, 13, 0.63);
}

#start-screen {
    margin: 1% auto;
    min-height: 50%;
    padding-top: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    overflow: hidden;
}

#chars {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-md-2 > img:hover {
    cursor: pointer;
    background-color: rgba(166, 166, 166, 0.51);
}

.active {
    background-color: rgba(166, 166, 166, 0.51);
}

.error-message {
    background-color: rgba(255, 0, 0, 0.51);
    border-radius: 17px;
    width: 400px;
    text-align: center;
    margin: 1% auto;
    line-height: 32px;
    font-weight: bold;
}

#start {
    position: relative;
    margin-top: 50px;
}

.custom-button {
    background-color: rgba(141, 204, 73, 0.45);
    padding: 6px 12px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    width: 100px;
}

.custom-button:hover {
    background: #175a0a;
    color: #ccc;
}

.custom-button:active {
    background: #c10f26;
}
